* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: rgb(132, 183, 132);
}
nav {
  background-color: rgb(42, 2, 80);
  height: 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 10px;
}
h1 {
  text-align: center;
}
.line {
  width: 100px;
  height: 2px;
  background-color: white;
}
.starmain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.star {
  font-size: 20px;
  color: white;
}
.center{
    margin: 350px auto;
}
img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
